QWidget {
    background-color: rgb(9, 20, 107);
    color: white
}

QPushButton {
    background-color: rgb(6, 14, 71);
    border: 2px solid black;
    border-radius: 20px;
}

QPushButton:hover {
    background-color: rgb(10, 23, 117);
}