QWidget {
    background-color: rgb(9, 20, 107);
    color: white;
    /* font-family: "Roboto"; */
    font-family: "Alfa Slab One";
    /* font-family: "Lexend"; */
    /* font-family: "Shrikhand"; */
    /* font-family: "Teko"; */
    /* font-family: "Titan One"; */
    /* font-family: "Ultra"; */
}

QPushButton {
    background-color: rgb(6, 14, 71);
    border: 2px solid black;
    border-radius: 20px;
    font-size: 20px
}

QPushButton:hover {
    background-color: rgb(10, 23, 117);
}